<ion-card class="profile-card">
  <ion-card-header>
    <ion-card-title>Meu Perfil</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="profile-info">
      <ion-avatar class="profile-avatar">
        <ion-icon name="person-circle" class="avatar-icon"></ion-icon>
      </ion-avatar>
      <div class="user-details">
        <div class="user-name">{{ user?.nome }}</div>
        <div class="user-email">{{ user?.email }}</div>
        <span class="course-name">{{ user?.curso }}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>